{{ define "content" }}
{{ $data := index site.Data site.Language.Lang }}
{{ with $data.data.abbildungen }}

<!-- Masthead -->
{{ partial "gallery.html" .}}

<!-- Index Page -->
<div class="container" id="about">
    <div class="row justify-content-center">
        <div class="col-lg pt-4 d-flex align-items-stretch">
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title" id="about">Riedl Transport GmbH</h5>
                    <p class="card-text text-break blocksatz">
                        Mit langjähriger Speditionserfahrung, einem starken Netzwerk und fundiertem Fachwissen bieten wir Ihnen maßgeschneiderte Logistiklösungen und einen Rundum-Service, der keine Wünsche offenlässt.
                    </p>
                    <p class="card-text text-break blocksatz">
                        Wir freuen uns jederzeit über Neuzuwachs. Schau doch
                        einfach einmal vorbei! Vielleicht dürfen wir Dich schon bald in unserer Runde begrüßen.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

{{ end }}
{{ end }}