{{ define "content" }}
{{ $data := index site.Data site.Language.Lang }}
{{ with $data.data.abbildungen }}

<!-- Masthead -->
{{ partial "gallery.html" .}}

<!-- Index Page -->
<div class="container" id="about">
    <div class="row justify-content-center">
        <div class="col-lg pt-4 d-flex align-items-stretch">
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title" id="about">Willkommen beim Musikverein 1923 Sailauf e.V.!</h5>
                    <p class="card-text text-break blocksatz">
                        Wir sind eine engagierte Gruppe von Musikern und Musikliebhabern, die sich der Förderung der
                        Musik verschrieben haben. Gegründet im Jahr 1923, besteht unser Verein heute aus einem
                        Stammorchester
                        und
                        einem Jugendorchester.
                    </p>
                    <p class="card-text text-break blocksatz">
                        Unsere Musikerinnen und Musiker kommen aus Sailauf und den umliegenden Gemeinden und
                        repräsentieren eine breite Altersspanne. Vom Anfänger bis zum Profi - bei uns ist jeder
                        willkommen, der Freude am Musizieren hat.
                    </p>
                    <p class="card-text text-break blocksatz">
                        Unsere Konzerte bieten ein abwechslungsreiches Repertoire, das von klassischer Musik bis hin zu
                        modernen Pop-Songs und traditioneller bayerischer Volksmusik reicht.
                        Bei unseren Auftritten möchten wir vor allem durch Musikalität überzeugen,
                        denn nichts
                        belohnt uns mehr als der Applaus des Publikums.
                    </p>
                    <p class="card-text text-break blocksatz">
                        Wir freuen uns jederzeit über Neuzuwachs. Schau doch
                        einfach einmal vorbei! Vielleicht dürfen wir Dich schon bald in unserer Runde begrüßen.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

{{ end }}
{{ end }}